<section class="about">
	<div class="container about__container">
		<div class="about__box">
			<h1 class="about__title">
				ИДЕЯ. ПРОЕКТ. МОНЕТИЗАЦИЯ. ДОХОД.
			</h1>
			<p class="about__text">
				ZorMax - международная продуктовая ИТ компания с украинскими корнями, наше ключевое направление деятельности
				- создание и продвижение информационных порталов игровой тематики на западные рынки.
			</p>
			<button class="about__btn btn-reset">Посмотреть вакансии</button>
		</div>
		<div class="about__picture">
			<img class="about__img" src="img/about.png" alt="image with people, who currently working">
		</div>
	</div>
</section>