<section id="bonus" class="bonus">
	<div class="container">
		<h2 class="bonus__title title">Бонусы для сотрудников</h2>
		<ul class="bonus__list">
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-1"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Гибкий график работы и праздников
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-2"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Чай кофе, фрукты, сладости
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-3"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Офисная библиотека
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-4"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Удобные рабочие места
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-5"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Конкурентная заработная плата
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-1"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Гибкий график работы и праздников
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-6"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Профессиональная команда
				</span>
			</li>
			<li class="bonus__item">
				<div class="bonus__box-square">
					<svg class="">
						<use xlink:href="img/sprite.svg#bonus-7"></use>
					</svg>
				</div>
				<span class="bonus__box-text">
					Подарки на день рождения
				</span>
			</li>
		</ul>
	</div>
</section>