<section class="company">
	<div class="container">
		<div class="company__wrapper">
			<h2 class="company__title title">Кто мы?</h2>
			<div class="company__box">
				<div class="company__box-title">Мы развиваем, вкладываем силы и поддерживаем каждого человека в компании
				</div>
				<p class="company__box-text">ZorMax - место, где вы сможете на 100% реализовать свой потенциал. Каждый
					сотрудник - это важная часть продукта. Все вместе мы создаем единую экосистему.</p>
			</div>
		</div>
	</div>
</section>