<section id="#" class="contacts">
	<div class="container">
		<div class="contacts__wrapper">
			<div class="contacts__box">
				<h2 class="contacts__title title">Контакты</h2>
				<div class="contacts-row">Наш офис<a href="#" class="contacts-row__link">Минск</a></div>
				<div class="contacts-row">Почта <a href="mailto:mai@mail.ru"
						class="contacts-row__link contacts-row__link--mail">mai@mail.ru</a>
				</div>
				<div class="contacts-row">Телефон <a href="telto:+380932133333" class="contacts-row__link">+38 (093)
						213-33-33</a>
				</div>
			</div>
		</div>
	</div>
</section>