<header class="header">
  <div class="container header__container">
    <a href="#" class="header__logo logo">
      <img src="img/logo.svg" alt="logo of company" class="logo-img">
    </a>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__item-link">Кто мы?</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link">Ценности</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link">Наша команда</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link">Вакансии</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__item-link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="lang-menu">
      <div class="selected-lang">
        Russian
      </div>
      <ul class="lang-menu__list">
        <li class="lang-menu__item">
          <a href="#" class="lang-menu__link lang-menu__link--german">
            German
          </a>
        </li>
        <li class="lang-menu__item">
          <a href="#" class="lang-menu__link lang-menu__link--french">
            French
          </a>
        </li>
        <li class="lang-menu__item">
          <a href="#" class="lang-menu__link lang-menu__link--spanish">
            Spanish
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>