<section class="parallax">
	<div class="container">
		<h2 class="parallax__title">Почему у нас классно работать?</h2>
		<ul class="parallax__list">
			<li class="parallax__item">
				<p class="parallax__text">ZorMax - молодая и веселая команда, в которой помогают и поддерживают друг друга.
				</p>
			</li>
			<li class="parallax__item">
				<p class="parallax__text">Мы работаем только со своими собственными продуктами.
				</p>
			</li>
			<li class="parallax__item">
				<p class="parallax__text">У нас демократичное руководство, которое заботится и уважает своих сотрудников.
				</p>
			</li>
			<li class="parallax__item">
				<p class="parallax__text">Вы сможете ежедневно повышать свой профессионализм, работая над уникальными для
					Беларуси проектами.
				</p>
			</li>
		</ul>
	</div>
</section>