<section id="vacation" class="vacation">
	<div class="container">
		<h2 class="vacation__title title">Вакансии</h2>
		<span class="vacation__descr">Выберите специальность </span>

		<div class="tabs">
			<ul class="tabs__list">
				<li class="tabs__item">
					<button class="tabs__btn tabs__btn--active" data-tabs-path="main">Все вакансии</button>
				</li>
				<li class="tabs__item">
					<button class="tabs__btn" data-tabs-path="archieve">Marketing</button>
				</li>
				<li class="tabs__item">
					<button class="tabs__btn" data-tabs-path="settings">Management</button>
				</li>
				<li class="tabs__item">
					<button class="tabs__btn" data-tabs-path="development">Development</button>
				</li>
			</ul>

			<div class="tabs__content tabs__content--active" data-tabs-target="main">
				<ul class="content__block-lits">
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="#" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Программист</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="#" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Верстальщик</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="#" class="content__block-more">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="tabs__content tabs-content" data-tabs-target="archieve">
				<ul class="content__block-lits">
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="tabs__content tabs-content--settings" data-tabs-target="settings">
				<ul class="content__block-lits">
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Tребуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Дизайнер</span>
							<div class="content__block-row">Опыт работы: <span>Tребуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="tabs__content tabs-content--settings" data-tabs-target="development">
				<ul class="content__block-lits">
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Tребуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Копирайтер</span>
							<div class="content__block-row">Опыт работы: <span>Не требуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
					<li class="content__block-item">
						<div class="content__block">
							<span class="content__block-pos">Дизайнер</span>
							<div class="content__block-row">Опыт работы: <span>Tребуется</span></div>
							<a href="" class="content__block-more">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<p class="vacation__text">Если Вы не нашли подходящую вакансию, отправьте нам резюме на почту
			<span>katerina@zormax</span> с
			указанием интересующей Вас позиции.
			Мы обязательно рассмотрим Вашу кандидатуру!
		</p>
</section>